<html>
     <body>
          <div>
<form action=/weather method="POST">
               <input type="text" name="city"  placeholder="City Name">
               <input type="submit" value="Submit">
</form>
</div>
</body>
</html>
