<form action="/weather" method="POST">
     <table>
          <tr>
               <td><input type="text" name="city" placeholder="City Name"></td>
          </tr>
          <tr>
               <td colspan="2"><input type="submit" value="Save"></td>
          </tr>
     </table>
</form>
