<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Weather</title>
</head>

<body>
    <div class="box">
        <h1><%= city %> </h1>
        <p>Temperature : <%= temp %> </p>
        <p>Humidity : <%= humidity %> </p>
        <p>Sky : <%= desc %> </p>
    </div>
</body>

</html>